<br/><br/><br/>
<div class="row">
    <div class="col-md-6 mx-auto mt-5">
        <div class="card">
            <div class="card-body">
                <h1 class="text-center">Iniciar Sesion</h1>
                <form [formGroup]="loginForm" (ngSubmit)="onLogin()">
                    <div class="form-group">
                        <label for="email">Correo</label>
                        <input type="email" class="form-control" formControlName="email" />
                    </div>
                    <div class="alert-danger" *ngIf="email.invalid && (email.dirty || email.touched)">
                        <div class="container-error-message" *ngIf="email.errors.required">
                            Email es requerido
                        </div>
                        <div class="container-error-message" *ngIf="email.errors.minlength">
                            Minimo 5 caracteres
                        </div>
                        <div class="container-error-message"
                            *ngIf="(email.dirty || email.touched) && email.invalid && email.errors.pattern">
                            Correo invalido
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="password">Contraseña</label>
                        <input type="password" class="form-control" formControlName="password" />
                    </div>
                    <div class="alert-danger" *ngIf="password.invalid && (password.dirty || password.touched)">
                        <div class="container-error-message" *ngIf="password.errors.required">password Requerido</div>
                        <div class="container-error-message" *ngIf="password.errors.minlength">Minimo 6 caracteres
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary btn-lg btn-block">
                        Entrar
                    </button>
                </form>
               
                <div class="form-group mt-3" >
                    <p>
                        Crear una Cuenta  <a [routerLink]="['/register']"> Registrarse </a>
                    </p>
                </div>
               
            </div>
        </div>
    </div>
</div>
<br/><br/><br/><br/><br/><br/>

